@import "tailwindcss";

body {
  /*Background color and font-family*/
  background-color: #f5f6fa;
  font-family: ui-sans-serif, system-ui, sans-serif;
  min-height: 100vh;
}
/*Global base overrides*/
html{
  /*Apply antialiased font rendering across the whole app*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  /*Remove default styles, let Tailwind control cursor*/
  cursor: pointer;
}